/****** Elad Shechter's RESET *******/
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button {
    background-color: transparent;
    color: inherit;
    border-width: 0;
    padding: 0;
    cursor: pointer;
}
figure {
    margin: 0;
}
input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}
ul,
ol,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}
p {
    margin: 0;
}
cite {
    font-style: normal;
}
fieldset {
    border-width: 0;
    padding: 0;
    margin: 0;
}

                                    /* CUSTOM PROPERTIES 
                                                    */

:root {
    --ff-primary: "Chivo";
    --ff-secondary: ;
    
    --fw-reg: 400;
    --fw-bold: 900;
    
    --clr-light: #f4f1de;
    --clr-dark: #031951;
    --clr-accent: #f2cc8f;
    --clr-highlight: #81b29a;
    
    --fs-h1: 2rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.50rem;
    --fs-body: 1rem;
}
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}
                                /* Global */

html {
    background-color: var(--clr-dark);
    font-family: var(--ff-primary);
}
body {
    background-color: #e2cfea;
}
h1 {
    font-size: var(--fs-h1);
}
h2 {    
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);    
}
/**************************** UTILITY CLASSES ****************************/
.scaffold {
    display: block;
    text-align: right;
    align-self: end;
}
.highlight {
    color: var(--clr-highlight);
}
.accent {
    background-color: var(--clr-accent);
}
/* *************************** STYLING *************************** */

.header {
    color: var(--clr-accent);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--clr-dark);
    justify-content: space-between;
    align-items: center;
    color: var(--clr-light);
}
.hamburger-menu {
    height: 2.3rem;
    width: 3.1em;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    border: 1px solid var(--clr-accent);
    border-radius: 10px;
}
.ham-bar {
    width: 60%;
    height: .2em;
    background-color: var(--clr-light);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        transition: transform 0.5ms, 
        opacity 0.5ms, 
        top 0.5ms;
    z-index: 20;
}
.bar-top {
    top: 25%;
}
.bar-bottom {
    top: 75%;
}
.hamburger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
}
.hamburger-menu.active .bar-mid {
    opacity: 0;
}
.hamburger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
}
.nav {
    background-color: var(--clr-dark);
    display: flex;
    justify-content: space-between;
    width: 99vw;
    max-width: 99vw;
}
.menu-items {
    font-size: var(--fs-h3);
    font-weight: bold;
    color: var(--clr-highlight);
    text-align: left;
    margin-left: .5em;
}
.off-screen-menu {
    position: fixed;
    right: -100%;
    height: 10em;
    transition: top .5s;
    background-color: var(--clr-dark);
}
.off-screen-menu.active {
    opacity: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: top 5s;
    width: 100%;
    right: 0;
    border-top: 1px solid var(--clr-light);
    position: absolute;
}
.headline-el {
    font-size: var(--fs-h1);
    text-shadow: 3px 3px 1px white;
}
.brand-hero-section {
    color: var(--clr-dark);
    background-color: #e2cfea;
}
.hero {
    width: 100%;
    height: 28rem;
    background-image: url(/website-launch-hero.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.cta-button {
    font-size: var(--fs-h1);
    border: 1px solid var(--clr-dark);
    border-radius: .2em;
    color: var(--clr-dark);
    background-color: #c7f9cc;
    text-align: center;
    display: block;
    width: 90%;
    height: 4em;
    margin: auto;
    justify-self: center;
    align-self: center;
    box-shadow: 3px 3px 1px white;
}
.business-card {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    max-width: 100%;
}
.head-shot-img {
    width: 20em;
    align-self: center;
    box-shadow: 3px 3px 1px var(--clr-dark);
}
.email  {
    font-size: var(--fs-h3);
}
#about {
    background-color: var(--clr-accent);
    text-align: center;
    color: var(--clr-dark);
    margin-top: 1em;
}
#portfolio {
    background-color: #e2cfea;
    padding: 1em;
}
.gallery {
    display: grid;
    gap: .5em;
}
.gallery img {
    border: 1px solid white;
    width: 100%;
}
.gallery img:hover {
    opacity: 90%;
    cursor: pointer;
    border: none;
}
.footer {
    color: var(--clr-light);
    background-color: var(--clr-dark);
}
@media (min-width: 1024px) {
    .hero {
        width: 100%;
        height: 23rem;
        background-image: url(/website-launch-banner4.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin: -4rem auto 0;
    }

    .headline-el {
        text-align: left;
    }
    .cta-button {
        width: 70%;
        height: 3em;
        font-size: var(--fs-h1);
    }
    .business-card {
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
        margin: auto;
        padding: 1em;
        align-items: end;
    }
    .email {
        font-size: var(--clr-h2);
    }
}