---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
        />
        <title>Victor Code and Design</title>
        <style>

        </style>
    </head>
    <body>
        <header class="header">
            <nav>
                <div class="nav">
                    <h1>VICTOR WEB DEV</h1>
                    <div class="hamburger-menu">
                        <div class="ham-bar bar-top"></div>
                        <div class="ham-bar bar-mid"></div>
                        <div class="ham-bar bar-bottom"></div>
                    </div>
                </div>
                <div class="off-screen-menu">
                    <div class="nav-items">About Me</div>
                    <div class="nav-items">Portfolio</div>
                    <div class="nav-items">Contact</div>
                </div>
            </nav>
        </header>
        <main>
            <section class="brand-hero-section" id="brand-intro">
                <h1 class="headline-el">
                    Boosting Your Business<span class="scaffold"
                        >Through Code and Design</span
                    >
                </h1>
                <div class="hero"></div>
                <h2 class="cta-text-el">
                    Tell Your Story & Sell Your Services
                </h2>
                <button class="tagline-2"
                    ><h1 class="headline-el">
                        Let's Launch Your Website Together!
                    </h1></button
                >
            </section>
            <section id="services">
                <h1>Capture Your Brand's Essence</h1>
                <div class="business-card-wrapper">
                    <h3>
                        I'm <strong>Victor Peña</strong>, a professional <strong
                            >web developer</strong
                        >
                    </h3>
                    <div class="business-card">
                        <img
                            src="headshot-blue.png"
                            alt=""
                            class="head-shot-img scaffold"
                        />
                    </div>
                </div>
            </section>
        </main>
        <script src="../scripts/menu.js"></script>
    </body>
</html>
